# Deploys a payload to the server to get the latest data
name: Deploy to Gerbot server

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  code_test_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7.9 
        uses: actions/setup-python@v1
        with:
          python-version: 3.7.3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          pip install pytest
          pytest
      - name: Hit up the webhook
        run: curl ${{ secrets.AWS_IP}} 
